/* Scores.css */
@import './GlobalTheme.css';

.scores-actions {
  margin-bottom: var(--space-md);
}

.scores-year-select {
  width: 150px;
}

.scores-datepicker {
  width: 100%;
}

.scores-form-button {
  width: 100%;
}
