/* Teachers.css */
@import './GlobalTheme.css';

.teachers-header {
  margin-bottom: var(--space-md);
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.teachers-cards-row {
  margin-bottom: var(--space-md);
}

.teachers-subject-count-active {
  color: var(--success-color);
}

.teachers-subject-count-inactive {
  color: var(--text-tertiary);
}

.teachers-filters {
  margin-bottom: var(--space-md);
  width: 100%;
  justify-content: space-between;
}

.teachers-filter-select {
  width: 150px;
}

.teachers-form-button {
  width: 100%;
}
